#lbl {
    color: blue;
    background-color: yellow;
    text-align: center;
    border-radius: 5%;
}
.input-field {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(51, 255, 0);  

}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #eeeeee;
}

th {
    background-color: #f2f2f2;
}
.input-field:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}